* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body {
    background-image: url(/assets/Background.png);
}
.navbar-nav {
    gap: 20px;
}
.container .navbar-brand {
    color: #14279B;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.094em;
}
.container .navbar-brand span {
    color: #002265;
}
.navbar-nav li a {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.055em;
}
.btn {
    font-weight: 600;
    font-size: 18px;
    background: #608AF5;
    
}

/* BANNER */
.banner {
    padding-top: 7rem;
}
.row h3 {
    color: #002265;
    letter-spacing: 0.005em;
    font-size: 24.7px;
    font-weight: bold;
}
.row h2 {
    color: #002265;
    font-weight: bold;
    letter-spacing: 0.025em;
    font-size: 40px;
}
.row p {
    color: #082032;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.7px;
    letter-spacing: 0.015em;
}
.hero-img img {
    position: relative;
}
/* BANNER END */

/* PASSIONS */
#passions {
    padding-top: 7rem;
}
.passions-text {
    text-align: center;
    color: #14279B;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
}
.passions-text span {
    color: #002265;
    font-weight: bold;
}
.col-lg-4 .shadow {
    height: 90%;
}
.img-skills {
    width: 75px;
}
.img-be {
    width: 100px;
}
/* PASSIONS END */

/* PORTFOLIO */
#portfolio {
    padding-top: 8rem;
}
.img-porto {
    width: 416px;
}
.img-todo {
    width: 416px;
    height: 294px;
}
/* PORTFOLIO END */

/* CONTACT */
#contact {
    padding-top: 8rem;
}
/* CONTACT END*/